version: 2.1
jobs:
  mirror:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Push to organization repo
          command: |
            git config --global user.name "durumi-ops"
            git config --global user.email "durumi0219@gmail.com"
            git remote add org https://x-access-token:${ORG_PUSH_PAT}@github.com/SSAFY-15/IM_study_KES.git
            git push org main --force
workflows:
  version: 2
  mirror-to-org:
    jobs:
      - mirror